body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    font-family: 'Open Sans', sans-serif;
}

.full-width-image-1 {
	background: url(https://c4.staticflickr.com/4/3253/3146164771_2ef9020f17_b.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	padding: 125px 0;
    background-position: 25% 68%;
}

.full-width-image-2 {
	background: url(https://c4.staticflickr.com/4/3253/3146164771_2ef9020f17_b.jpg) no-repeat;
	background-size: cover;
	text-align: center;
    background-position: 25% 75%;
	height: 450px;
}

.logo-wrapper {
	display: inline-block;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.section-heading {
	font-size: 4em;
	margin: 30px 0;
    text-align: center;
	color:#7B1A00;
	font-family: 'Gloria Hallelujah', cursive;
}

.section-lead {
	margin: 30px 0;
    text-align: center;
       font-family: 'Gloria Hallelujah', cursive;
}

.section-paragraph {
	margin: 30px 0;
    text-align: center;
       font-family: 'Gloria Hallelujah', cursive;
}

footer {
	margin: 15px 0;
}

.navbar-inverse {
    background-color: #022536;
    border: #ff0000;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

#sortedtable thead th {
font-weight: bold;
}


@media (max-width: 768px) {

.section-heading {
	font-size: 2em;
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}

}